<div class="demo-container">
  <canvas id="game" width="740" height="600" style="background-color: lightgray"
  ></canvas>
  <div class="demo-controls">
    <button id="random">Randomize</button>
    <button id="step">Next Step</button>
    <span>Speed: </span>
    <input type="text" id="speed" value="10" />
    <button id="start" class="button-primary">Start</button>
    <button id="pause">Pause</button>
    <button id="clear">Clear</button>
  </div>
</div>

<style>
  .demo-container {
    max-width: var(--content-width);
    margin: 1.5rem 0;
  }
  canvas {
    max-width: 100%;
    height: auto;
  }
  .demo-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  .demo-controls input[type='text'] {
    width: 50px;
  }
</style>

<script>
  import '../../scripts/demos/game-of-life.js';
</script>
