<div class="demo-container">
  <canvas
    id="rw2-canvas"
    width="740"
    height="600"
    style="background-color: black"></canvas>
  <br />
  <button id="rw2-stop" class="button-primary">Stop</button>
</div>

<style>
  @media screen and (max-width: 600px) {
    canvas {
      width: 340px;
    }
  }
</style>

<script>
  import '../../scripts/demos/random-walker-2.js';
</script>
