<div class="demo-container">
  <canvas
    id="rw2-canvas"
    width="740"
    height="600"
    style="background-color: black"></canvas>
  <br />
  <button id="rw2-stop" class="button-primary">Stop</button>
</div>

<style>
  .demo-container {
    max-width: var(--content-width);
    margin: 1.5rem 0;
  }
  canvas {
    max-width: 100%;
    height: auto;
  }
</style>

<script>
  import '../../scripts/demos/random-walker-2.js';
</script>
