<div class="demo-container">
  <canvas
    id="rw1-canvas"
    width="780"
    height="600"
    style="background-color: black"></canvas>
</div>

<style>
  .demo-container {
    max-width: var(--content-width);
    margin: 1.5rem 0;
  }
  canvas {
    max-width: 100%;
    height: auto;
  }
</style>

<script>
  import '../../scripts/demos/random-walker-1.js';
</script>
