/* ==========================================================================
   Global Styles
   Consumes design tokens from tokens.css. All colors, fonts, spacing, and
   breakpoints are referenced via CSS custom properties.
   ========================================================================== */

/* ==========================================================================
   Reset
   ========================================================================== */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

.button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  height: 30px;
  padding: 0 var(--space-4);
  color: var(--color-text-secondary);
  text-align: center;
  font-family: var(--font-body);
  font-size: var(--text-xs);
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: var(--radius-sm);
  border: 2px solid var(--color-border);
  cursor: pointer;
  box-sizing: border-box;
  transition:
    color var(--transition-fast),
    border-color var(--transition-fast),
    background-color var(--transition-fast);
}

.button:hover,
button:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover,
.button:focus,
button:focus,
input[type='submit']:focus,
input[type='reset']:focus,
input[type='button']:focus {
  color: var(--color-text-primary);
  border-color: var(--color-border-hover);
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  color: #fff;
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

.button.button-primary:hover,
button.button-primary:hover,
input[type='submit'].button-primary:hover,
input[type='reset'].button-primary:hover,
input[type='button'].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type='submit'].button-primary:focus,
input[type='reset'].button-primary:focus,
input[type='button'].button-primary:focus {
  color: #fff;
  background-color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}

/* ==========================================================================
   Forms
   ========================================================================== */

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  transform: translateY(-1px);
  height: 30px;
  padding: 6px 10px;
  background-color: var(--color-bg-card);
  border: 2px solid var(--color-border);
  border-radius: var(--radius-sm);
  box-shadow: none;
  box-sizing: border-box;
  color: var(--color-text-primary);
  font-family: var(--font-body);
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--color-accent);
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: var(--space-2);
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: var(--space-2);
  font-weight: normal;
}

/* ==========================================================================
   Basic styling
   ========================================================================== */

body {
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: 400;
  line-height: var(--leading-normal);
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  -webkit-text-size-adjust: 100%;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}

/* ==========================================================================
   Vertical rhythm
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: var(--space-4);
}

/* ==========================================================================
   Images
   ========================================================================== */

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: var(--text-sm);
}

/* ==========================================================================
   Lists
   ========================================================================== */

ul,
ol {
  margin-left: var(--space-8);
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/* ==========================================================================
   Headings
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  line-height: var(--leading-tight);
  color: var(--color-text-primary);
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color var(--transition-fast);
}

a:visited {
  color: var(--color-accent);
}

a:hover {
  color: var(--color-accent-hover);
  text-decoration: underline;
}

/* ==========================================================================
   Blockquotes
   ========================================================================== */

blockquote {
  color: var(--color-text-secondary);
  border-left: 4px solid var(--color-border);
  padding-left: var(--space-4);
  font-size: var(--text-lg);
  letter-spacing: -0.5px;
  font-style: italic;
}

blockquote > :last-child {
  margin-bottom: 0;
}

/* ==========================================================================
   Code formatting
   ========================================================================== */

pre,
code {
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  background-color: var(--color-bg-code);
}

code {
  padding: 2px 6px;
}

pre {
  padding: var(--space-3) var(--space-4);
  overflow-x: auto;
}

pre > code {
  border: 0;
  padding: 0;
  background-color: transparent;
}

/* ==========================================================================
   Wrapper
   ========================================================================== */

.wrapper {
  max-width: var(--content-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--space-6);
  padding-left: var(--space-6);
}

.wrapper::after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding-right: var(--space-4);
    padding-left: var(--space-4);
  }
}

/* ==========================================================================
   Icons
   ========================================================================== */

.icon > svg {
  display: inline-block;
  vertical-align: middle;
}

/* ==========================================================================
   Custom additions
   ========================================================================== */

#nav-trigger {
  display: none;
}

.floatRight {
  float: right;
}

/* ==========================================================================
   Site header
   ========================================================================== */

.site-header {
  border-top: 3px solid var(--color-accent);
  border-bottom: 1px solid var(--color-border);
  min-height: 56px;
  position: relative;
  background-color: var(--color-bg-primary);
}

.site-title {
  font-family: var(--font-heading);
  font-size: var(--text-xl);
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-bottom: 0;
  float: left;
}

.site-title,
.site-title:visited {
  color: var(--color-text-primary);
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  color: var(--color-text-primary);
  line-height: 1.5;
  transition: color var(--transition-fast);
}

.site-nav .page-link:hover {
  color: var(--color-accent);
  text-decoration: none;
}

.site-nav .page-link:not(:last-child) {
  margin-right: var(--space-6);
}

@media screen and (max-width: 640px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: var(--space-4);
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    text-align: right;
  }

  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }

  .site-nav .menu-icon > svg path {
    fill: var(--color-text-secondary);
  }

  .site-nav .trigger {
    clear: both;
    display: none;
  }

  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/* ==========================================================================
   Site footer
   ========================================================================== */

.site-footer {
  border-top: 1px solid var(--color-border);
  padding: var(--space-8) 0;
  background-color: var(--color-bg-secondary);
}

.footer-heading {
  font-size: var(--text-lg);
  margin-bottom: var(--space-4);
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
  margin-left: calc(-1 * var(--space-4));
}

.footer-col-wrapper::after {
  content: '';
  display: table;
  clear: both;
}

.footer-col {
  float: left;
  margin-bottom: var(--space-4);
  padding-left: var(--space-4);
}

.footer-col-1 {
  width: calc(35% - var(--space-4));
}

.footer-col-2 {
  width: calc(20% - var(--space-4));
}

.footer-col-3 {
  width: calc(45% - var(--space-4));
}

@media screen and (max-width: 768px) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - var(--space-4));
  }

  .footer-col-3 {
    width: calc(100% - var(--space-4));
  }
}

@media screen and (max-width: 640px) {
  .footer-col {
    float: none;
    width: calc(100% - var(--space-4));
  }
}

/* ==========================================================================
   Page content
   ========================================================================== */

.page-content {
  padding: var(--space-8) 0;
}

.page-heading {
  font-size: var(--text-xl);
}

.post-list {
  margin-left: 0;
  list-style: none;
}

.post-list > li {
  margin-bottom: var(--space-8);
}

.post-meta {
  font-size: var(--text-sm);
  color: var(--color-text-muted);
}

.post-link {
  display: block;
  font-size: var(--text-2xl);
}

/* ==========================================================================
   Posts
   ========================================================================== */

.post-header {
  margin-bottom: var(--space-8);
}

.post-title {
  font-size: var(--text-4xl);
  font-family: var(--font-heading);
  letter-spacing: -0.5px;
  line-height: var(--leading-tight);
}

@media screen and (max-width: 640px) {
  .post-title {
    font-size: var(--text-3xl);
  }
}

.post-content {
  margin-bottom: var(--space-8);
}

.post-content h2 {
  font-size: var(--text-3xl);
}

@media screen and (max-width: 640px) {
  .post-content h2 {
    font-size: var(--text-2xl);
  }
}

.post-content h3 {
  font-size: var(--text-2xl);
}

@media screen and (max-width: 640px) {
  .post-content h3 {
    font-size: var(--text-xl);
  }
}

.post-content h4 {
  font-size: var(--text-xl);
}

/* ==========================================================================
   Page navigation (prev/next)
   ========================================================================== */

.PageNavigation {
  font-size: var(--text-sm);
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  float: left;
  text-align: left;
}

.PageNavigation .prev {
  float: right;
  text-align: right;
}

/* ==========================================================================
   Home page (post listing)
   ========================================================================== */

.home .posts-list {
  margin-left: 0;
}

.post-preview {
  margin-bottom: var(--space-6);
}

.post-preview .post-title {
  font-size: var(--text-2xl);
  margin-bottom: 0;
}

.post-preview .post-subtitle {
  font-size: var(--text-lg);
  font-weight: 300;
  margin-bottom: var(--space-1);
}

.post-preview .post-meta {
  margin-bottom: var(--space-1);
}

.post-entry {
  margin-top: var(--space-1);
}

.post-read-more {
  font-weight: 600;
}

/* ==========================================================================
   Syntax highlighting (token-based, dark mode via tokens.css)
   ========================================================================== */

.highlight {
  background: var(--color-bg-code);
  margin-bottom: var(--space-4);
  border-radius: var(--radius-sm);
}

.highlighter-rouge .highlight {
  background: var(--color-bg-code);
}

/* Comments */
.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: var(--syntax-comment);
  font-style: italic;
}

.highlight .cp {
  color: var(--syntax-comment);
  font-weight: bold;
}

/* Keywords & operators */
.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr,
.highlight .o,
.highlight .ow {
  color: var(--syntax-keyword);
  font-weight: bold;
}

.highlight .kt {
  color: var(--syntax-type);
  font-weight: bold;
}

/* Strings */
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .s1,
.highlight .ss {
  color: var(--syntax-string);
}

.highlight .sr {
  color: var(--syntax-type);
}

/* Numbers */
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--syntax-number);
}

/* Names / identifiers */
.highlight .na,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: var(--syntax-variable);
}

.highlight .nb {
  color: var(--syntax-number);
}

.highlight .nc {
  color: var(--syntax-type);
  font-weight: bold;
}

.highlight .no {
  color: var(--syntax-variable);
}

.highlight .ni {
  color: var(--syntax-attribute);
}

.highlight .ne,
.highlight .nf {
  color: var(--syntax-function);
  font-weight: bold;
}

.highlight .nn {
  color: var(--syntax-type);
}

.highlight .nt {
  color: var(--syntax-tag);
}

/* Errors */
.highlight .err {
  color: var(--syntax-error-fg);
  background-color: var(--syntax-error-bg);
}

/* Diffs */
.highlight .gd {
  color: var(--syntax-deletion-fg);
  background-color: var(--syntax-deletion-bg);
}

.highlight .gd .x {
  color: var(--syntax-deletion-fg);
  background-color: var(--syntax-deletion-bg);
}

.highlight .gi {
  color: var(--syntax-addition-fg);
  background-color: var(--syntax-addition-bg);
}

.highlight .gi .x {
  color: var(--syntax-addition-fg);
  background-color: var(--syntax-addition-bg);
}

/* Misc */
.highlight .ge {
  font-style: italic;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gr {
  color: var(--syntax-error-fg);
}

.highlight .gh {
  color: var(--syntax-comment);
}

.highlight .gu {
  color: var(--syntax-comment);
}

.highlight .go {
  color: var(--syntax-comment);
}

.highlight .gp {
  color: var(--syntax-variable);
}

.highlight .gt {
  color: var(--syntax-error-fg);
}

.highlight .w {
  color: var(--syntax-comment);
}

.highlight .bp {
  color: var(--syntax-comment);
}

/* ==========================================================================
   Dark mode element overrides
   ========================================================================== */

@media (prefers-color-scheme: dark) {
  ::selection {
    background-color: var(--color-accent-subtle);
    color: var(--color-text-primary);
  }
}
